body{
    margin: 0;
}
.Pokecontainer{
    display: flex;
    flex-wrap: wrap;
}
.pokecheast{
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 220px;
    border-radius: 25px;
    gap: 15px;
    padding: 20px;
}

.color-fire {
    background-color: #e53b1985;
    
}
.color-water {
    background-color: #278acc81;
}
.color-grass {
    background-color: #91d08b80;
}
.color-ground {
    background-color: #95673383;
}
.color-rock {
    background-color: #a8995b7c;
}
.color-steel {
    background-color: #9999a879;
}
.color-ice {
    background-color: #68baac81;
}
.color-fairy {
    background-color: #d480ce7c;
}
.color-dark {
    background-color: #796e6e6e;
}
.color-normal {
    background-color: #a8a89980;
}
.color-bug {
    background-color: #82ad2575;
}
.color-fighting {
    background-color: #a84b3d7c;
}
.color-psychic {
    background-color: #e559737c;
}
.color-flying {
    background-color: #87b4e580;
}
.color-electric {
    background-color: #e5c60081;
}
.color-poison {
    background-color: #9453cd73;
}
.color-dragon {
    background-color: #4d65ab81;
}
.color-ghost {
    background-color: #633c647e;
}